@import url("https://fonts.googleapis.com/css2?family=Eczar&family=PT+Serif&display=swap");

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Eczar, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: bisque;
    font-size: 110%;
    font-weight: 300;
    background-color: #00008B;
    background-size: cover;

}

/* headings and logo*/

h1,
h2 {
    color: rgb(235, 224, 211);
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: PT+Serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    ;
    padding-bottom: 20px;
}

#logo {
    float: left;
    color: bisque;
    font-family: Eczar, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 270%;
    margin-left: 30px;
}



#menu {
    letter-spacing: 2px;
    font-size: 110%;


}

#menu,
#logo {

    line-height: 75px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {

    border-bottom: 2px solid bisque
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

.active {
    border-bottom: 2px solid bisque;

    /* End Nav bar*/
}

/* home page 81-*/

#summary-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;

}

#cover-text,
#covertext h2 {
    color: #00008B;
}

.castle-background {
    clear: left;
    background: url("../images/lackeen-castle-view.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    /* animates zoom effect on loading page*/
    animation-name: castle-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* create level of zoom for castle*/
@keyframes castle-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.03);
    }
}

.stowe-missal-background {
    clear: left;
    background: url("../images/sm-cover-both.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    /* animates zoom effect on loading page*/
    animation-name: castle-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* create level of zoom for castle*/
@keyframes castle-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

#right-about a {

    color: coral);
    text-decoration:none;
    font-weight:400;
}


#defence-intro {
    text-align: center;
    Margin: 20px;

}

#defence-intro h2 {
    font-size: 200%;
}

#defence-intro p {
    padding: 0 25%;

}





.zoom {
    padding: 50px;

    transition: transform .5s;
    /*Animation*/

    Width: 100%;
    height: auto;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.1);
}

a {
    color: coral;
}

#info-text {

    font-size: 130%;
    font-family: eczar, serif;
    text-transform: uppercase;

    text-align: center;

    padding-top: 20px;
    padding-left: 10px;


    height: 200px;
    width: 40%;

    bottom: 100px;
    left: 100px;

    background-color: rgba(94, 36, 36, 0.7);

    position: absolute;
    border: 1px solid bisque;
    border-radius: 50%;
}



#lackeen-summary {
    height: 500px;
    margin: 0 auto;
}


#lackeen-intro {
    text-align: center;
    margin: 20px 0;
    font-size: 200%;
    text-transform: uppercase;
    padding-top: 20px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;

}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;

}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;

}

.right-about-heading h2 {
    text-align: left;
}

.left-about-heading p {
    padding-top: 5px;
}

.right-about-heading p {
    text-align: right;
    padding-top: 5px;
}

.right-about-heading-sm {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading-sm p {
    text-align: left;
    padding-top: 5px;
}

hr {
    border-top: 1px solid bisque;
    width: 100%;
    margin: 5px 0;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 20px;
    margin: 0 auto;
    background-color: bisque;
    border: 1px solid rgba(94, 36, 36, 0.7);
    border-radius: 50%;

}

#circle-cover-castle {
    background: url('../images/lackeen-front.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;


}

/*location*/

#location {
    height: 400px;
    margin: 30px auto;

    width: 100%;
}

#visit-intro {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
    font-size: 200%;
    text-transform: uppercase;
}


#map {
    margin-left: 30px;
    padding: 50px auto 30px auto;
    width: 45%;

    float: left;
    border: 1px ridge rgba(94, 36, 36, 0.9);

}

#directions {
    margin-left: 30px;
    padding: 5px auto 10px auto;
    width: 45%;
    float: right;
    font-size: 120%;
    height: 300px;

}

/* footer*/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #00008b;
    background-color: bisque;
    text-align: center;
    height: 60px;

}

footer a {
    color: #00008B;
    padding: 5px 30px;
}


.social-networks {

    text-align: center;

}

.social-networks>li {

    display: inline;
}

.social-networks i {

    font-size: 160%;
    margin: 1%;
    padding: 5%0 auto;
    color: inherit;

}



/*Castle defences*/

#defence-outer {
    height: 1200px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.castle-defence-background {


    background: url('../images/lackeen-front.jpg') no-repeat center center;
    height: 1200px;
    background-size: cover;
    width: 100%;

}

#info-text-window {

    font-size: 110%;
    font-family: eczar, serif;



    text-align: center;

    padding-top: 20px;
    padding-left: 1px;


    height: 150px;
    width: 50%;

    top: 500px;
    left: 60px;

    background-color: rgba(99, 22, 41, 0.5);

    position: absolute;
    border: 1px solid bisque;
    /*border-radius: 50%;*/
}

#info-text-mach {

    font-size: 100%;
    font-family: eczar, serif;
    text-transform: uppercase;

    text-align: center;

    padding-top: 20px;
    padding-left: 10px;


    height: 120px;
    width: 50%;

    top: 300px;
    right: 60px;

    background-color: rgba(99, 22, 41, 0.5);

    position: absolute;
    border: 1px solid bisque;
    /*border-radius: 50%;*/
}

#info-text-door {

    font-size: 100%;
    font-family: eczar, serif;
    text-transform: uppercase;

    text-align: center;

    padding-top: 20px;
    padding-left: 10px;


    height: 150px;
    width: 50%;

    bottom: 120px;
    left: 80px;

    background-color: rgba(99, 22, 41, 0.5);

    position: absolute;
    border: 1px solid bisque;
    /*border-radius: 50%;*/
}

#info-text-intro {

    font-size: 120%;
    font-family: eczar, serif;
    text-transform: uppercase;

    text-align: center;

    padding-top: 20px;
    padding-left: 10px;


    height: 250px;
    width: 40%;

    top: 100px;
    left: 30px;

    background-color: rgba(0, 0, 139, 0.7);

    position: absolute;
    border: 1px solid bisque;
    border-radius: 50%;
}



#info-text-window,
#info-text-mach,
#info-text-door h3 {

    text-transform: uppercase;
    font-size: 300;
}

#info-text-window,
#info-text-mach,
#info-text-door,
#info-text-intro p {

    text-transform: none;

}

/*End castle defence*/

/*Stowe Missal*/

#sm-summary {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
}

/* Stowe Missal center pic*/


.pic-container {
    width: 200px;
    height: 300px;
    padding: 20px;
    margin: 0 auto;
    background-color: bisque;
    border: 2px solid rgba(94, 36, 36, 0.7);


}

#pic-missal {
    background: url('../images/sm-fpage.jpg') no-repeat center center;
    height: 100%;
}


#sm-pics {
    height: 770px;
    width: 100%;
    overflow: hidden;
    position: relative;
    clear: both;
    line-height: auto;
    bottom: 50px;
}

#sm-pics h2 {
    color: bisque;
    text-transform: uppercase;
    text-align: center;
    font-size: 200%;
    letter-spacing: 4px;

    padding: 20px;
}

div.sm-gallery {
    margin: 30px;
    float: left;

    width: 28.5%;
}

div.sm-gallery img {

    width: 100%;
    height: 500px;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-size: 110%;
}

#final-line {
    margin-bottom: 100px;
}

.center {
    display: block;
    margin: 0 auto;

    width: 50%;
}








/* Media queries*/

/* For lap-top screens max-width 1024px and down*/
@media screen and (max-width:1024px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #info-text {

        font-size: 130%;
        font-family: eczar, serif;
        text-transform: uppercase;

        text-align: center;

        padding: 20px auto;


        height: 250px;
        width: 45%;

        bottom: 100px;
        left: 50px;

        background-color: rgba(94, 36, 36, 0.7);

        position: absolute;
        border: 1px solid bisque;
        border-radius: 50%;
    }

    #info-text>h2 {

        padding-top: 20px;
    }



    .left-about-heading,
    .right-about-heading {

        width: 80%;
    }

}

/* Media query adjustments for screens from 850px and lower*/

@media screen and (max-width:850px) {

    #info-text1 {

        font-size: 100%;
        font-family: eczar, serif;
        font-weight: 100;
        text-transform: uppercase;

        text-align: center;

        padding: 0 auto;


        height: 300px;
        width: 50%;

        bottom: 530px;
        left: 20px;

        background-color: rgba(94, 36, 36, 0.7);

        position: absolute;
        border: 2px solid bisque;
        border-radius: 50%;
    }

    #info-text>h2 {

        padding-top: 20px;
    }

    #summary-outer,
    #castle-background {
        height: 400px;
    }

    #lackeen-summary {
        width: 80%;
        height: 1050px;
        margin: 0 auto;


    }

    #lackeen-intro {
        padding: 30px 0;
        margin: 0;

    }

    #left-about,
    #right-about {

        width: 100%;
        float: left;
        padding: 0;


    }

    .left-about-heading h2,
    .right-about-heading h2 {
        text-align: justify;
        padding: 0 auto;
    }

    .left-about-heading p,
    .right-about-heading p {
        width: 100%;
        text-align: justify;
        padding: 0 auto;
    }

    hr {
        display: none;
    }

    #center-about {
        clear: both;
        width: 100%;
        height: 150px;
        padding: 0;

    }

    #directions {
        font-size: 100%;
    }
}

/* media queries for screens 425px and lower*/

/* hamburger menu TODO*/
@media screen and (max-width:425px) {



    #info-text {

        font-size: 100%;
        font-family: eczar, serif;

        font-weight: 100;
        text-transform: uppercase;
        text-align: center;

        padding: 0 auto;

        height: 300px;
        width: 50%;

        bottom: 130px;
        left: 20px;

        background-color: rgba(94, 36, 36, 0.7);

        position: absolute;
        border: 2px solid bisque;
        border-radius: 50%;
    }

    #summary-outer #castle-background {
        height: 300px;
    }

    #lackeen-summary {
        height: 1100px;
    }

    #lackeen-intro,
    #visit-intro {
        font-size: 120%;
        text-transform: capitalize;
        font-family: eczar, serif;
        font-weight: 400;


    }




    .left-about-heading h2,
    .right-about-heading h2 {

        font-size: 110%;
        text-transform: capitalize;
        font-family: eczar, serif;
        font-weight: 300;

    }

    hr {
        border-top: 1px solid bisque;
        width: 100%;
        margin: 5px 0;
    }

    #location {
        height: 600px;
    }

    #map,
    #directions {
        width: 100%;
        margin-left: 5px;
        padding: 0 auto;

    }

    #directions {
        text-align: center;
    }
}


/*FORM*/

.form-section {
    clear: left;
    background: url('../images/lackeencastle7.jpg');
    background-size: cover;
    background-position: center;
    height: 900px;
}

.contact-form {
    margin: 50px 20% 30px 0;
    color: bisque;
    background-color: rgba(94, 36, 36, 0.8);
    max-width: 400px;
    position: absolute;
    left: 5%;
    padding: 20px;
}

.contact-form>h2 {
    color: bisque;
    margin-bottom: 5px;
}

.text-input {
    background: bisque;
    color: #000;
    font-size: large;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 2px solid bisque;
    border-radius: 5px;
}

#date {
    background: bisque;
    color: #000;
    width: 50%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 2px solid bisque;
    border-radius: 5px;
}

#number {
    background: bisque;
    color: #000;
    width: 25%;
    height: 30px;
    margin: 5px 0 20px 0;
    border: 2px solid bisque;
    border-radius: 5px;

}

#message {
    background: bisque;
    color: #000;
    width: 100%;
    height: 100px;
    margin: 5px 0 20px 0;
    border: 2px solid bisque;
    border-radius: 5px;

}

.text-input:hover {
    border-color: 2px solid darkred;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: rgb(0, 0, 139, 0.7);
    color: bisque;
    display: block;
}

#info-text-fdest {
    font-size: 130%;
    font-family: eczar, serif;


    text-align: center;

    padding-top: 80px;
    padding-left: 10px;


    height: 180px;
    width: 50%;

    bottom: 100px;
    left: 100px;

    background-color: rgba(94, 36, 36, 0.7);

    position: absolute;
    border: 1px solid bisque;
    border-radius: 50%;
}