@import  url("https://fonts.googleapis.com/css2?family=Eczar&family=PT+Serif&display=swap");



body{
    font-family: Eczar, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: bisque;
    background-image: url("http://www.megalithicireland.com/Tipperary/Lackeen%20Castle,%20Tipperary%20002s.jpg") no repeat center center;
    background-color: #00008B;
    background-size: cover;
    height: 500px;

}
#logo {
    float: left;
    color: inherit;
    color: bisque;
    font-family: Eczar, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 300%;
    margin-left: 30px;
    margin-top: 100px;
    text-transform: uppercase;
}
.castle-background 
{clear:left;
    background: url("../images/lackeencastle6.jpg") alt=("Lackeen Castle, Tipperary, stone tower standing in isolation in Irish countryside");
    background-size: cover; 
    background-position: center;
    height: 900px;

}
#menu {
    letter-spacing: 2px;
    font-size: 120%;
}

#menu, #logo {

list-style-type: none;
 margin-right:30px ;
}

.active {
    border-bottom: 2px solid red;



}
#about-lackeen {
    color: #00008b;
    background-color: bisque;
    background: transparent;
}

